[user]
	name = tatuya4451
	email = tatuya44511336@gmail.com

[color]
	ui = auto

[alias]
    g  = git
    st = status
    ss = status -s
    sh = show
    ch = checkout
    br = branch
    co = commit
    pu = push

[ghq]
  root = ~/git/tatuya4451

[commit]
  template = ~/.commit_template
